Source: libtest-class-moose-perl
Section: perl
Priority: optional
Maintainer: Sjoerd Langkemper <sjoerd@byte.nl>
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: libcarp-always-perl,
 liblist-moreutils-perl,
 libmoose-perl (>= 2.0000),
 libmoosex-classattribute-perl,
 libnamespace-autoclean-perl,
 libparallel-forkmanager-perl,
 libsub-attribute-perl,
 libtap-stream-perl,
 libtest-most-perl,
 libtry-tiny-perl,
 perl,
 perl-base,
 perl-modules (>= 5.10)
Standards-Version: 3.9.2
Homepage: http://search.cpan.org/dist/Test-Class-Moose/

Package: libtest-class-moose-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
 liblist-moreutils-perl,
 libmoose-perl (>= 2.0000),
 libmoosex-classattribute-perl,
 libnamespace-autoclean-perl,
 libparallel-forkmanager-perl,
 libsub-attribute-perl,
 libtap-stream-perl,
 libtest-most-perl,
 libtry-tiny-perl,
 perl,
 perl-base,
 perl-modules
Description: Serious testing for serious Perl
 (no description was found)
 .
 This description was automagically extracted from the module by dh-make-perl.
